.font {
    font-family: Arial, Helvetica, sans-serif
}

.upLeft {

}

.upRight {

}

.center {
    text-align: -webkit-center;
    padding-top: 109px;
    height: 92px;
    border: 5px solid black;
}

.belowCenter {
    text-align: -webkit-center;
    padding-top: 20px;
}

.search {
    width: 40%;
    position: relative;
    display: flex;
    border-radius: 10px;
    outline-width: 0px;
    padding: 5px;
    border-color: grey;
  }

.button {
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.botRightCenter {
    position: absolute;
    background-color: lightgrey;
    left: 60%;
    margin-left: -100px;
    padding: 10px;
}

.botLeftCenter {
    position: absolute;
    background-color: gray;
    left: 46%;
    margin-left: -100px;
    padding: 10px;
}

.botLeft {
    position: fixed;
    left:0px;
    bottom:0;
    width: 50%;
    color: black;
    text-align: -webkit-left;
    background-color: lightgray;
    padding: 10px 0 10px 10px;
}

a:link, a:visited {
    color: black;
 }
a:hover {
    color: black;
    text-decoration: underline !important;
    cursor: pointer;
}

.botRight {
    position: fixed;
    bottom:0;
    width: 50%;
    color: black;
    background-color: lightgray;
    padding: 10px 10px 10px 10px;
    right: 0px;
    text-align: -webkit-right;
}
