.rightSpaces {
    word-spacing: 10px;
}

.upLeft {

}

.upRight {

}

.center {
    text-align: -webkit-center;
    padding-top: 109px;
    height: 92px;
    border: 5px solid black;
}

.belowCenter {
    text-align: -webkit-center;
    padding-top: 20px;
    color: #e6e6e6;
}

.search {
    width: 35%;
    position: relative;
    display: flex;
    border-radius: 15px;
    outline-width: 0px;
    padding: 10px;
    border-color: #e6e6e6;
  }

.button {
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.botRightCenter {
    position: absolute;
    background-color: #e6e6e6;
    left: 60%;
    margin-left: -100px;
    padding: 10px;
}

.botLeftCenter {
    position: absolute;
    background-color: #e6e6e6;
    left: 46%;
    margin-left: -100px;
    padding: 10px;
}

.botLeft {
    position: fixed;
    left:0px;
    bottom:0;
    width: 50%;
    color: black;
    text-align: -webkit-left;
    background-color: #e6e6e6;
    padding: 12px 20px 13px 20px;
}


a:link, a:visited {
    color: black;
 }
a:hover {
    color: black;
    text-decoration: underline !important;
    cursor: pointer;
}

.botRight {
    position: fixed;
    bottom:0;
    width: 50%;
    color: black;
    background-color: #e6e6e6;
    padding: 12px 20px 13px 20px;
    right: 0px;
    text-align: -webkit-right;
}
